# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: generic

os: osx

env:
  matrix:
    
    - CONDA_PY=35
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "f8Z3yLS7DjcGGzeP2yBo9IWOGgHkeFyVbfep4fQR2F9bICMVLOHpju9izlujtxAZp988YvvUnJXMEwO3QzEPX5zwBUv5RNsgNGPOutow4Rpe+9lHsKYG4lAzVrzODV5BczN1n+gSz4cUeBAQoom3hYTAwBqPnTmd7oB4UUjA0JRxoVJ1ZRAur4edn/fqmuxnExtYARVwA+AVCjjHKiBkq0Ac89EFnopiEASOcr3EKIBf3L0v9c6OygQplOuwRmRT9SXpY19OBh1tGaHVKtIcFF5xf1CM3WSlfCmBCNxgAzNejpQimkpIiwE44odZaciPWuqbKmcg1jhQ6uCds1opV5KOUu9M8HLRJWswZg/2jCpWIpizZvAe8GTeLklgWXvnHe5bmfeOrHjyHGBlKWJc4KOpiIyUdakxFTO9J5zpeZOc1wRcB250GFKQA4ZIDjEXCRPvHlY/TOx7M2TsZZWYIabRKi5GujadU2twojHJU8IRiveTiiAZ9dB8XB/cLafcM6NzKttYYhMjq1U9BWTdulJ8zAuD1O0/iLP4fI+5Gv+pfn4mfpVyBZGckUuuonh6fTTX4802MQs9SZ6ko3oxto4UfdATw0reqE+vBWKzdP4MlwDAlSww+eSL8m64JzOo8S375IjgAgplMdfCcY5pd6DVXr62C6pA9lt8tjraiWs="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
